<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Compression</title>
</head>

<body>
  <!-- sıkıştırma başlangıcı -->
  <div class="compressor">
    <div class="thread-wrapper">
      <span class="holder"></span>
      <span class="paper"><i class="curl"></i>JPEG</span>
      <span class="rod"></span>
    </div>

    <div class="holder-bottom">
      <span class="holder flip-up"></span>
      <div class="handle">
        <span class="handle-holder"></span>
        <i></i>
        <span class="handle-holder"></span>
      </div>
    </div>
  </div>
  <!-- sıkıştırma bitişi -->

  
</body>

</html>