<head>
  <title>Drag and Drop File Upload</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="drop.component.css" />
</head>

<body>
  <div class="drop-zone">
    <span class="drop-zone__prompt"
      >Görüntüyü buraya sürükleyin veya yüklemek için tıklayın</span
    >
    <input
      type="file"
      name="myFile"
      accept="image/*"
      class="drop-zone__input"
      multiple
    />
  </div>
  

 </body>
