<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://jpeg-algorithm.vercel.app/"
          >Jpeg Compressor</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://jpeg-algorithm.vercel.app/"
                >Ana Sayfa</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">RAPORLAR</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Aksiyon</a></li>
                <li>
                  <a class="dropdown-item" href="https://ilker-blog.vercel.app/"
                    >Hakkında</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Diğerleri</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h3>Sıkıştırma Alanı</h3>
    <hr />
    <div id="app" v-cloak></div>

    <div class="card bg-light mb-4">
      <div class="card-body">
        <div class="p-5 text-center">
          Buraya Sürükleyin ya da
          <label class="text-primary" style="cursor: pointer"
            >dosya gezgini ...
            <input
              type="file"
              name="myFile"
              class="sr-only"
              id="file"
              accept="image/*"
              ref="input"
              multiple
          /></label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Ayarlar</h4>
          <div class="card-body">
            <fieldset class="form-group">
              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  name="strict"
                  class="form-check-input"
                  id="inputStrict"
                  v-model="options.strict"
                />
                <label class="form-check-label" for="inputStrict">strict</label>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  name="checkOrientation"
                  class="form-check-input"
                  id="inputCheckOrientation"
                  v-model="options.checkOrientation"
                />
                <label class="form-check-label" for="inputCheckOrientation"
                  >checkOrientation</label
                >
              </div>
            </fieldset>
            <div class="form-group row">
              <label for="inputMaxWidth" class="col-5 col-form-label"
                >max genişlik</label
              >
              <div class="col-7">
                <input
                  type="number"
                  name="maxWidth"
                  class="form-control"
                  id="inputMaxWidth"
                  placeholder="Infinity"
                  v-model.number="options.maxWidth"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMaxHeight" class="col-5 col-form-label"
                >max yükseklik</label
              >
              <div class="col-7">
                <input
                  type="number"
                  name="maxHeight"
                  class="form-control"
                  id="inputMaxHeight"
                  placeholder="Infinity"
                  v-model.number="options.maxHeight"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMinWidth" class="col-5 col-form-label"
                >min genişlik</label
              >
              <div class="col-7">
                <input
                  type="number"
                  name="minWidth"
                  class="form-control"
                  id="inputMinWidth"
                  placeholder="0"
                  v-model.number="options.minWidth"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMinHeight" class="col-5 col-form-label"
                >min yükseklik</label
              >
              <div class="col-7">
                <input
                  type="number"
                  name="minHeight"
                  class="form-control"
                  id="inputMinHeight"
                  placeholder="0"
                  v-model.number="options.minHeight"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputWidth" class="col-5 col-form-label"
                >genişlik</label
              >
              <div class="col-7">
                <input
                  type="number"
                  name="width"
                  class="form-control"
                  id="inputWidth"
                  placeholder="undefined"
                  v-model.number="options.width"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputHeight" class="col-5 col-form-label"
                >yükseklik</label
              >
              <div class="col-7">
                <input
                  type="number"
                  name="height"
                  class="form-control"
                  id="inputHeight"
                  placeholder="undefined"
                  v-model.number="options.height"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputQuality" class="col-5 col-form-label"
                >kalite kaybı</label
              >
              <div class="col-7">
                <select
                  class="form-control"
                  name="quality"
                  id="inputQuality"
                  v-model.number="options.quality"
                >
                  <option value="0">%100</option>
                  <option value="0.1">%90</option>
                  <option value="0.2">%80</option>
                  <option value="0.3">%70</option>
                  <option value="0.4">%60</option>
                  <option value="0.5">%50</option>
                  <option value="0.6">%40</option>
                  <option value="0.7">%30</option>
                  <option value="0.8">%20</option>
                  <option value="0.9">%10</option>
                  <option value="1">%0</option>
                  <option value="">NaN</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMimeType" class="col-5 col-form-label"
                >mimeType</label
              >
              <div class="col-7">
                <input
                  type="text"
                  name="mimeType"
                  class="form-control"
                  id="inputMimeType"
                  placeholder="auto"
                  v-model.number="options.mimeType"
                />
              </div>
            </div>
            <div class="form-group row mb-0">
              <label for="inputConvertSize" class="col-5 col-form-label"
                >convertSize</label
              >
              <div class="col-7">
                <input
                  type="number"
                  name="convertSize"
                  class="form-control"
                  id="inputConvertSize"
                  placeholder="5000000"
                  v-model.number="options.convertSize"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 mb-4">
        <div class="card mb-4">
          <h5
            class="card-header d-flex align-items-center justify-content-between"
          >
            <span
              >Giriş Görüntüsü
              <small class="text-secondary">(orijinal görüntü)</small></span
            >
            <a
              class="btn btn-sm btn-blocks btn-outline-primary"
              :download="input.name"
              :href="inputURL"
              title="yüklenen görüntüyü indir"
              >İndir</a
            >
          </h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 d-flex mb-3">
                <div class="w-100 text-center" v-if="inputURL">
                  <img class="mw-100" :src="/assets/img/after.jpg" alt="image" />
                </div>
                <!-- <div v-else class="w-100 bg-light"></div> -->
              </div>
              <div class="col-md-8">
                <dl class="row">
                  <dt class="col-5">son değişiklik:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">son değişiklik tarihi:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">isim:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">türü:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">boyut:</dt>
                  <dd class="col-7"></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <h5
            class="card-header d-flex align-items-center justify-content-between"
          >
            <span
              >Çıktı Görüntüsü
              <small class="text-secondary"
                >(sıkıştırılmış görüntü)</small
              ></span
            >
            <a
              class="btn btn-sm btn-blocks btn-outline-primary"
              :download="output.name"
              :href="outputURL"
              title="sıkıştırılmış görüntüyü indir"
              >İndir</a
            >
          </h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 d-flex mb-3">
                <div class="w-100 text-center" v-if="outputURL">
                  <img class="mw-100" :src="/assets/img/before.jpg" alt="image" />
                </div>
                <!-- <div v-else class="w-100 bg-light"></div> -->
              </div>
              <div class="col-md-8">
                <dl class="row">
                  <dt class="col-5">son değişiklik:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">son değişiklik tarihi:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">isim:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">türü:</dt>
                  <dd class="col-7"></dd>
                  <dt class="col-5">boyut:</dt>
                  <dd class="col-7">
                    <span v-if="output.size"></span>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" v-if="inputURL && outputURL">
      <h4 class="card-header">Görüntüleri Karşılaştırma</h4>
      <div class="card-body">
        
        <app-comparison></app-comparison>
      </div>
    </div>
  </div>



</body>
