*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vci-container{
	box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.left-side {
  display: block;
  height: "device.height";
  object-fit: cover;
  position: relative;
  top: 0;
  width: 100%;
}
.imgb {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.imga {
  position: absolute;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.8s ease-in-out;
}

.left-side:hover .imga {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.left-side > img {
  width: 100%;
}

/* -- MEDIA -- */

@media (max-width: 1280px) {
  .header {
    font-size: 4.6vw;
  }
}

@media (max-width: 600px) {
  .left-side {
    margin: 70vw 0 0 0;
    position: relative;
    width: 100%;
  }

  .left-side > img {
    max-width: 80%;
    width: auto;
    max-height: 80vh;
  }

  .left-side > .imga {
    left: 50%;
    transform: translate(-50%);
  }

  .header {
    transform-origin: center;
    font-size: 9vw;
  }
}

@media (min-width: 1px) {
  .left-side > .imgb {
    animation-name: moveUp;
    animation-duration: 1.2 s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 1.7s;
  }
  .left-side > .imga {
    left: 50%;
    transform: translateX(-50%);
    animation-name: moveUp2;
    animation-duration: 1.2 s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 1.7s;
  }

  .left-side {
    perspective: 100rem;
  }
}

/* -- Animations -- */

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveUp2 {
  0% {
    opacity: 0;
    left: 50%;
    transform: translateX(-50%) translateY(2rem);
  }
  100% {
    left: 50%;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
