<html lang="tr">
  <body>
    <section class="container">
      <div class="container-center">
        <div class="row">
          <div class="left-side">
            <img class="imgb" src="/assets/img/before.jpg" alt="image" />
            <img class="imga" src="/assets/img/after.jpg" alt="image" />
          </div>
          <div class="right-side">
            <div class="rs-container">
              <div class="header-container"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
