*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

.container {
  width: 720%;
  height: 720vh;
  position: relative;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.container-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin: 0 auto;
  display: flex;
  max-width: 114rem;
}
.left-side,
.right-side {
  float: left;
}
.left-side {
  width: 38%;
  margin-right: 5%;
  position: relative;
}
.imgb {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.imga {
  position: absolute;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.8s ease-in-out;
}

.left-side:hover .imga {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.left-side > img {
  width: 100%;
}

.img-num {
  width: 8rem;
  padding: 1rem 0;
  position: absolute;
  top: 10%;
  right: -2%;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

/* -- Right Side -- */

.right-side {
  width: calc(100% - 38% - 5%);
  position: relative;
}

.rs-container {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 15.5%;
  left: 0;
}
.header {
  text-transform: uppercase;
  font-family: serif;
  transform: scalex(0.88);
  transform-origin: left;
  font-size: 6rem;
}

.text {
  margin: 2.5rem 0 3rem 0;
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  width: 80;
}

.learn,
.learn:visited,
.learn:link {
  text-decoration: none;
  column-count: #000;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 4px;
  padding: 1rem 1rem 1rem 0;
  transition: all 0.2s;
}

span {
  position: relative;
  top: -1px;
  display: none;
  color: white;
}

.learn:hover {
  padding: 1rem;
  border-bottom: 1px solid #000;
  box-shadow: 0 2px 1.5rem rgba(0, 0, 0, 0.25);
}

.learn:hover span {
  display: inline;
  color: black;
}

.learn:active {
  background-color: black;
  color: white;
}

.learn:active span {
  color: white;
  display: inline;
}

/* -- MEDIA -- */

@media (max-width: 1280px) {
  .img-num {
    width: 7vw;
    font-size: 3.5vw;
  }
  .header {
    font-size: 4.6vw;
  }
  .text {
    width: 100;
  }
}

@media (max-width: 600px) {
  .container-center {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .row {
    display: block;
    text-align: center;
  }
  .left-side {
    margin: 70vw 0 0 0;
    position: relative;
    width: 100%;
  }

  .left-side > img {
    max-width: 80%;
    width: auto;
    max-height: 80vh;
  }

  .left-side > .imga {
    left: 50%;
    transform: translate(-50%);
  }

  .right-side {
    margin-top: 4rem;
    width: 100%;
    padding: 0 0 12vh 0;
  }

  .rs-container {
    position: relative;
  }

  .header {
    transform-origin: center;
    font-size: 9vw;
  }

  .text {
    font-size: 4vw;
  }
  .learn,
  .learn:visited,
  .learn:link {
    padding: 1rem 0;
    font-size: 3vw;
  }

  .learn:hover {
    padding: 1rem;
  }

  .img-num {
    padding: 1rem 2rem;
    position: absolute;
    right: 5%;
    font-size: 3.5vw;
    width: auto;
  }
}

@media (min-width: 1px) {
  .left-side > .imgb {
    animation-name: moveUp;
    animation-duration: 1.2 s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 1.7s;
  }
  .left-side > .imga {
      left: 50%;
      transform: translateX(-50%);
    animation-name: moveUp2;
    animation-duration: 1.2 s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 1.7s;
  }

  .left-side{
      perspective: 100rem;
  }
  .img-num{
      backface-visibility: hidden;
      animation-name: rotateNum;
      animation-duration: 1.2s;
      animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      animation-fill-mode: backwards;
      animation-delay: 2.5s;
  }
  .w1{
    animation-name: moveUp;
    animation-duration: 1.2 s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 0.2s;
  }
  .w2{
    animation-name: moveUp;
    animation-duration: 1.2 s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
  }
  .text{
    animation-name: opacityAnim;
    animation-duration: 1.2 s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 0.8;
  }

  .learn{
      animation-name: learnMore2;
      animation-duration: 0.8s;
      animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      animation-fill-mode: backwards;
      animation-delay: 1.2s;
      position: relative;
  }
  .learn::after{
    animation-name: learnMore;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-fill-mode: backwards;
    animation-delay: 1.2s;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: black;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    height: 100%;
    width: 100%;
    z-index: 10;
  }
}

/* -- Animations -- */

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveUp2 {
    0% {
      opacity: 0;
      left: 50%;
      transform: translateX(-50%) translateY(2rem);
    }
    100% {
        left: 50%;
      transform: translateX(-50%) translateY(0);
    }
  }

@keyframes rotateNum {
  0% {
    opacity: 0;
    transform: translateY(6rem) rotateY(90deg);
  }

  100% {
    opacity: 1;
  }
}

@keyframes learnMore {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  50% {
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@keyframes learnMore2 {
  0% {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, white 45%, white 45%);
  }

  45% {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, black 25%, black 25%);
  }

  45% {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, black 25%, white 25%);
  }

  99% {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, black 45%, black 45%);
  }

  100% {
    color: black;
  }
}

@keyframes opacityAnim {
    
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}