<div class="share">
    <label for="share" class="share-btn">
      <svg class="logo-cs" width="579" height="450" viewBox="0 0 579 450" fill="none" xmlns="https://www.w3.org/2000/svg">
        <rect width="65" height="450" class="logo-c" />
        <rect x="81" width="498" height="60" class="logo-c" />
        <rect x="81" y="390" width="498" height="60" class="logo-c" />
        <rect x="81" y="77" width="498" height="55" class="logo-s" />
        <rect x="81" y="320" width="498" height="55" class="logo-s" />
        <rect x="81" y="197" width="498" height="55" class="logo-s" />
        <rect x="81" y="132" width="65" height="45" class="logo-s" />
        <rect x="514" y="275" width="65" height="45" class="logo-s" />
      </svg>
    </label>
    <input type="checkbox" id="share">
    <div class="share-btns">
      <a href="https://twitter.com/" target="_blank"><span class="fab fa-twitter"></span></a>
      <a href="https://instagram.com/" target="_blank"><span class="fab fa-instagram"></span></a>
      <a href="https://youtube.com/" target="_blank"><span class="fab fa-youtube"></span></a>
      <a href="https://google.com" target="_blank"><span class="fas fa-globe"></span></a>
    </div>
  </div>