<body>
  <div class="card">
    <h4 class="card-header">Görüntüleri Karşılaştırma</h4>
    <div class="card-body">
      <div class="vci-container">
        <img-comparison-slider class="slider-with-custom-relative-handle">
          <img
            id="beforeImage"
            slot="before"
            width="100%"
            src="https://jpeg-algorithm.vercel.app/assets/img/afterimg.jpg"
          />
          <img
            id="afterImage"
            slot="after"
            width="100%"
            src="https://jpeg-algorithm.vercel.app/assets/img/beforeimg.jpg"
          />
          <img
            slot="handle"
            class="custom-relative-handle"
            src="https://raw.githubusercontent.com/sneas/img-comparison-slider/7bb700e56d078da2288539c3e6beb892a3790312/src/demo/images/arrows-handle.svg"
          />
        </img-comparison-slider>
      </div>
    </div>
  </div>
</body>
