<body>
  <div>
    <app-drop></app-drop>
    <!-- <div class="hiddenElementBeforeCompress" class="row">
      <div class="col-lg-4 mb-4">
        
      </div>

      <div class="col-lg-8 mb-4">
        <app-input-image class="hiddenElementBeforeCompress"></app-input-image>
        <app-output-image class="hiddenElementBeforeCompress"></app-output-image>
      </div>
      <div></div>
      <app-comparison-image
        class="hiddenElementBeforeCompress"
      ></app-comparison-image>
    </div> -->
  </div>
</body>
